dist
node_modules
.history

*.exe
vencord_installer

.idea
.DS_Store

yarn.lock
bun.lock
package-lock.json

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
*.tsbuildinfo

src/userplugins/*/
!src/userplugins/DiscordQuests/
!src/userplugins/kiraBadges/
!src/userplugins/expandedReply/

ExtensionCache/
/settings
